.glass-card {
  /* @apply bg-white/80 backdrop-blur-lg border border-white/40 shadow-lg; */
  background-color: #957148;
  background-color: white;
}

.purple-gradient {
  @apply bg-gradient-to-r from-primary to-accent text-white;
}

/* Toast positioning */
.top-center-toast {
  @apply fixed top-20 left-1/2 -translate-x-1/2 !important;
}

/* Dashboard specific styles */
.dashboard-tab {
  @apply bg-white/90 text-primary hover:text-primary-foreground hover:bg-primary/90 data-[state=active]:bg-primary data-[state=active]:text-primary-foreground transition-all;
}

.dashboard-content {
  @apply bg-white/95 rounded-lg shadow-lg p-6;
}

.cover-page{
  background: url('/lovable-uploads/cover.png');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.benefits-section, .testimonial-section, .cta-section, .available-treatments, 
.signup-form, .auth-form, .features-section, .signup-cover, .video-section{
  background: url('/lovable-uploads/bg.png');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-section{
  background: none;
}
#myVideo {
  background: black;
  position: fixed;
  right: 0;
  left: 0;
  /* bottom: 0; */
  /* min-width: 100%;
  height: 100%; */
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .pt-250-sm{
    padding-top: 450px;
  }
}
